<?xml version="1.0" ?>
<model>
    <name>Flyzone wall</name>
    <version>1.0</version>
    <sdf version="1.6">flyzone_wall.sdf</sdf>
    <author>
        <name>Thomas Willemot</name>
        <email>thomas.willemot@student.kuleuven.be</email>
    </author>
    <description>Walls to fake being the flying zone. Will need to be as real as possible.</description>
</model>
