output_path: test_pretrained_models/auto_encoder_deeply_supervised
mode: lr_pretrain_imagenet
job_configs:
  - command: python3.8 src/scripts/pretrain_model_on_imagenet.py -n 10
    codebase_dir: /users/visics/kkelchte/code/imitation-learning-codebase
    cpus: 11
    gpus: 1
    cpu_mem_gb: 22
    disk_mem_gb: 52
    wall_time_s: 15 * 60 * 60
    nice: true
    gpu_mem_mb: 7900
    use_singularity: false
    check_if_ros_already_in_use: false
    save_locally: false
number_of_jobs:
  - 1
base_config_files:
  - ' '
