output_path: cube_world
mode: dag_data_collection
job_configs:
  - command: python3.8 src/scripts/experiment.py
    codebase_dir: /users/visics/kkelchte/code/imitation-learning-codebase
    cpus: 11
    gpus: 1
    cpu_mem_gb: 25
    disk_mem_gb: 52
    wall_time_s: 60 * 60
    nice: true
    use_singularity: true
    check_if_ros_already_in_use: false
    save_locally: true
    extra_requirements: ( Mips >= 26000 )
  - command: python3.8 src/scripts/data_cleaning.py
    codebase_dir: /users/visics/kkelchte/code/imitation-learning-codebase
    cpus: 2
    gpus: 0
    cpu_mem_gb: 18
    disk_mem_gb: 52
    wall_time_s: 10 * 60
    nice: true
    use_singularity: False
    check_if_ros_already_in_use: False
    save_locally: False
number_of_jobs:
  - 10
  - 1
base_config_files:
  - src/scripts/config/il_data_collection_cube_world.yml
  - src/scripts/config/il_data_cleaning_cube_world.yml