output_path: two_drone_setup/y_axis
mode: default
wait_time_between_jobs_sec: 0.1
number_of_jobs:  # indicates number of seeds per parameter value
  - 1
base_config_files:
  - src/scripts/config/rl_train_adversarial_agents.yml
job_configs:
  - command: python3.8 src/scripts/experiment.py
    codebase_dir: /users/start2017/r0669036/code/imitation-learning-codebase
    cpus: 15
    gpus: 0
    cpu_mem_gb: 5
    disk_mem_gb: 52
    wall_time_s: 30 * 60
    nice: true
    gpu_mem_mb: 1900
    use_singularity: true
    check_if_ros_already_in_use: false
    save_locally: true
    save_before_wall_time: true
    singularity_dir: /esat/opal/kkelchte/singularity_images/ubuntu
    singularity_file: /esat/opal/kkelchte/singularity_images/ubuntu/image-0.1.8.sif
