output_path: test_joystick_flight
number_of_epochs: 1
episode_runner_config:
  number_of_episodes: 20
environment_config:
  factory_key: ROS
  max_number_of_steps: -1
  ros_config:
    observation: forward_camera
    action: ros_expert
    store_action: true
    visible_xterm: true
    step_rate_fps: 30
    max_update_wait_period_s: 10
    ros_launch_config:
      random_seed: 123
      robot_name: bebop_real
      robot_display: true
      fsm_config: takeover_run
      fsm: true
      control_mapping: true
      waypoint_indicator: false
      control_mapping_config: joystick
      world_name: empty
      x_pos: 0.0
      y_pos: 0.0
      z_pos: 1.0
      yaw_or: 1.57
    actor_configs:
#      - name: keyboard
#        file: src/sim/ros/config/actor/keyboard_bebop_real.yml
      - name: joystick
        file: src/sim/ros/config/actor/joystick_bebop_real.yml
data_saver_config:
  store_hdf5: false
  separate_raw_data_runs: true
  saving_directory_tag: joystick