architecture_config:
  architecture: cart_pole_4_2d_stochastic
  device: cuda
  random_seed: 123
  initialisation_type: orthogonal
data_saver_config:
  clear_buffer_before_episode: true
  store_on_ram_only: true
environment_config:
  normalize_observations: false
  normalize_rewards: false
  observation_clipping: 5
  reward_clipping: 5
  factory_key: GYM
  gym_config:
    random_seed: 123
    render: false
    world_name: CartPole-v0
  max_number_of_steps: -1  # let number of steps depend on environment
episode_runner_config:
  number_of_episodes: -1  # stop when there are enough samples in buffer to fill batch
number_of_epochs: 500
episode_runner_config:
  train_every_n_steps: 200
output_path: cart_pole2/stochastic_critic
tensorboard: true
save_checkpoint_every_n: 100
trainer_config:
  criterion: MSELoss
  learning_rate: 0.001
  gradient_clip_norm: 5
  optimizer: Adam
  data_loader_config:
    batch_size: 200
    random_seed: 123
  device: cuda
  discount: 0.99
  factory_key: PPO
  gae_lambda: 0.95
  phi_key: gae
  entropy_coefficient: 0.
  max_actor_training_iterations: 50
  max_critic_training_iterations: 10
  ppo_epsilon: 0.2
  kl_target: 0.01